nav{
    position: sticky;
    top: 0;
}
nav li{
    transition: 0.5s;
}
nav li:hover{
    background-color: rgb(255, 230, 0);
    color: black;
    transition: 0.5s;
}
nav input{
    width: 70%;
    padding: 3px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}


.header{
    width: 100%;
    height: 100vh;
    background-image: url("./img/BG.png");
}
.opacity{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.403); */
}
.box{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.scroll{
    overflow-y: auto;

    height: 800px;
}
.scroll_x{
    display: flex;
    /* overflow:scroll; */
    overflow-x: scroll;
}
.live_show{
    text-align: center;
    display: flex;
    width: 20% ;
    height: 20%;
  
}

.footer{
    width: 100%;
    height: 200px;
}


.a_footer{
    text-decoration: none;
    margin: 20px;

    border-right: 2px solid white;
}

.footer_center{
     display: flex;
    
}

.center{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}