nav{
    position: sticky;
    top: 0;
}
nav li{
    transition: 0.5s;
}
nav li:hover{
    background-color: rgb(255, 230, 0);
    color: black;
    transition: 0.5s;
}
nav input{
    width: 70%;
    padding: 3px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}


.header{
    width: 100%;
    height: 100vh;
    background-image: url("./img/BG.png");
}
.opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.403);
}
.box{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
